.wrapper_nav {
    height: 100vh;
    width: 4%;
    background-color: black;
    float: left;
    position: fixed;
    top: 0;
    background-color: rgb(21, 21, 23);
    transition: .5s ease;
    opacity: 60%;

    &:hover {
        width: 12%;
        opacity: 100%;
    }

    &:hover .icon-block {
        p {
            animation-name: item-text-show;
            animation-delay: .3s;
            animation-duration: .3s;
            animation-fill-mode: both;
        }
    }
}

.nav-items {
    overflow: hidden;
    .icon-block {
        cursor: pointer;
        transition: .3s ease;
        float: left;
        width: 100%;
        max-height: 7vh;
        padding-top: 5vh;
        padding-bottom: 2vh;
        &:not(.sign-out-block):hover{
            margin-top: 2vh;
            margin-bottom: 1vh;
            padding-top: 2vh;
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.28);
            margin-left: 8.5%;
        }
        .icon{
            float: left;
            font-size: 170%;
            color: white;
            margin-top: 1.5vh;
            transition: .5s ease;
            transform: translate(50%, 0%);

        }
        p {
            font-size: 100%;
            visibility: hidden;
            color: white;
            float: left;
            margin-left: 18%;
            transition: .5s ease;
        }
    }
}



.sign-out-block{
    position: absolute;
    bottom: 3%;
    &:hover{
        margin-left: -5%;
        padding-top: 1vh;
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.28);
        
    }
    &:hover .sign-out{
        margin-left: 8.5%;
    }
    
}

@keyframes item-text-show {
    to{
        visibility: visible;
    }
}
